Repository sethamclean/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, check-startup-times, check-secrets, check-nvim

shellcheck:
  run: .hook-scripts/shellcheck.zsh

check-startup-times:
  run: .hook-scripts/check-startup-times.zsh

check-secrets:
  run: .hook-scripts/check-secrets.zsh

check-nvim:
  run: nvim --headless -es +qa

feat: add .local to ignore
  .config/git/ignore
Due: none

chore: remove unnecessary review agent
  .config/opencode/opencode.jsonc
Due: check-secrets

feat: change opencode alias to resume last session
  .config/zsh/.zshrc
Due: check-secrets

feat: add blink.cmp, fix tooling paths to prefer nix packages
  .config/nvim/lazy-lock.json
  .config/nvim/lua/seth/packages/blink-cmp-copilot.lua
  .config/nvim/lua/seth/packages/blink.cmp.lua
  .config/nvim/lua/seth/packages/debugging.lua
  .config/nvim/lua/seth/packages/lsp.lua
  .config/nvim/lua/seth/packages/nvim-cmp.lua
Due: check-startup-times, check-secrets, check-nvim

feat: improve python config and vim start up efficiency
  .config/nvim/lazy-lock.json
  .config/nvim/lua/seth/packages/blink.cmp.lua
  .config/nvim/lua/seth/packages/conform.lua
  .config/nvim/lua/seth/packages/copilot.lua
  .config/nvim/lua/seth/packages/gruvbox.lua
  .config/nvim/lua/seth/packages/lsp.lua
  .config/nvim/lua/seth/packages/mark-view.lua
  .config/nvim/lua/seth/packages/noice.lua
  .config/nvim/lua/seth/packages/obsidian.lua
  .config/nvim/lua/seth/packages/tokyonight.lua
  .config/nvim/lua/seth/packages/undotree.lua
  .config/nvim/lua/seth/remap.lua
  .config/ruff/pyproject.toml
  .config/ty/ty.toml
  README.md
Due: check-startup-times, check-secrets, check-nvim

feat: trouble now auto opens with diagnostics
  .config/nvim/lua/seth/packages/trouble.lua
Due: check-startup-times, check-secrets, check-nvim

feat: optimized zsh startup time
  .config/zsh/.zshrc
  .hook-scripts/check-startup-times.zsh
Due: check-startup-times, check-secrets

feat: numerous improvements to speed up and stability
  .config/nvim/lua/seth/packages/auto-session.lua
  .config/nvim/lua/seth/packages/telescope.lua
  .config/nvim/lua/seth/packages/whichkey.lua
  .config/tmux/tmux.conf
  .config/wezterm/wezterm.lua
  .config/zsh/.zshrc
Due: check-startup-times, check-secrets, check-nvim

feat: github status report is now more compact
  bin/git-status-report
Due: check-secrets

fix: stop llm flattery
  .config/opencode/AGENTS.md
  .config/opencode/opencode.jsonc
Due: check-secrets

feat: add back session saving and restore
  .config/nvim/lazy-lock.json
  .config/nvim/lua/seth/packages/persistence.lua
  .config/tmux/nvim-resurrect.sh
  .config/tmux/resurrect-opencode-post-save.sh
  .config/tmux/tmux.conf
Due: shellcheck, check-startup-times, check-secrets, check-nvim

feat: add some tmux styling
  .config/tmux/tmux.conf
Due: check-secrets

feat: lots of styling changes, remove dracula from tmux, add luarc to get rid of lint errors for global vim
  .config/bottom/bottom.toml
  .config/nvim/lazy-lock.json
  .config/nvim/lua/seth/packages/catppuccin.lua
  .config/nvim/lua/seth/packages/lualine.lua
  .config/nvim/lua/seth/packages/nordic.lua
  .config/opencode/tui.jsonc
  .config/tmux/status-cwd-smart.sh
  .config/tmux/tmux.conf
  .config/zsh/.zshrc
  .luarc.json
Due: shellcheck, check-startup-times, check-secrets, check-nvim

fix: set lualine theme to auto
  .config/nvim/lua/seth/packages/lualine.lua
Due: check-startup-times, check-secrets, check-nvim

feat: some more styling and info
  .config/tmux/status-cwd-smart.sh
  .config/tmux/tmux.conf
Due: shellcheck, check-secrets

feat: added more git states to tmux status
  .config/tmux/status-cwd-smart.sh
Due: shellcheck, check-secrets

feat: change message inbox to only show message presented to user
  .config/tmux/message-inbox.sh
  .config/tmux/tmux.conf
Due: shellcheck, check-secrets

feat: lots of git config changes.
  .config/git/config
Due: none

feat: add somemore git optimizations, escape $ in tmux status line
  .config/git/config
  .config/tmux/status-cwd-smart.sh
Due: shellcheck, check-secrets

fix: improve auto completion configuration
  .config/zsh/.zshrc
Due: check-secrets

fix: tmux status line issues, added config and alias for kind in codespace
  .config/kind/codespace.yaml
  .config/nvim/lazy-lock.json
  .config/tmux/status-dual-time-updater.sh
  .config/tmux/tmux.conf
  .config/zsh/.zshrc
Due: shellcheck, check-secrets

fix: remove conflicting pull ff setting
  .config/git/config
Due: none

feat: added sesh for tmux session management
  .config/tmux/sesh-switcher.sh
  .config/tmux/tmux.conf
Due: shellcheck, check-secrets

fix: improve some session alters and alert messages from tmux
  .config/tmux/message-inbox.sh
  .config/tmux/sesh-switcher.sh
  .config/tmux/status-other-session-activity-updater.sh
  .config/tmux/tmux.conf
Due: shellcheck, check-secrets

feat: add sorting to exa output
  .config/zsh/.zshrc
Due: check-secrets

feat: added scripts for cleaning up disk and updating k9s plugins, added k9s flux plugin
  .config/k9s/plugins/flux.yaml
  bin/cleanup-disk
  bin/update-k9s-plugins
Due: check-secrets

feat: update dotfiles to use new workspace location
  .config/nvim/lua/seth/packages/telescope.lua
  .config/tmux/tmux.conf
  .config/zsh/.zshrc
Due: check-startup-times, check-secrets, check-nvim

fix: improve ssh agent block
  .config/zsh/.zshrc
Due: check-secrets

fix: prevent execing zsh from .profile if it's not a login shell
  .profile
Due: none

Path conditions:
  shellcheck: any of: **/*.{sh,bash}
  check-startup-times: any of: **/*.{zsh,lua,vim}
  check-secrets: any of: **/*, but not: (.git/|node_modules/)
  check-nvim: any of: **/*.{vim,lua}
