Repository sethamclean/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, check-startup-times, check-secrets

shellcheck:
  run: .hook-scripts/shellcheck.zsh

check-startup-times:
  run: .hook-scripts/check-startup-times.zsh

check-secrets:
  run: .hook-scripts/check-secrets.zsh

chore: remove unnecessary test script
  test.sh
Due: none

chore(git): enhance pre-commit hooks and stow ignore patterns
  .lefthook.yml
  .stow-local-ignore
Due: none

docs(readme): updated to include dependencies and usage
  README.md
Due: none

feat: added helper scripts for workspace and codespaces
  bin/git-status-report
  bin/sync_codespace
Due: check-secrets

feat(mcp): first pass at jira mcp server
  .config/mcphub/servers.json
  .config/nvim/lua/seth/mcp/init.lua
  .config/nvim/lua/seth/mcp/jira.lua
  .config/nvim/lua/seth/mcp/knowledge_base.lua
  .config/nvim/lua/seth/packages/obsidian.lua
Due: check-startup-times, check-secrets

feat(mcp): adding testing infrastructure
  .config/nvim/lua/seth/mcp/curl_utils.lua
  .config/nvim/lua/seth/mcp/curl_utils_test.lua
  .config/nvim/lua/seth/mcp/jira.lua
  .config/nvim/lua/seth/mcp/jira_mcp_test.lua
  .config/nvim/lua/seth/mcp/run_tests.sh
  .config/nvim/lua/seth/mcp/test_runner.lua
  .config/nvim/lua/seth/mcp/test_utils.lua
Due: shellcheck, check-startup-times, check-secrets

feat(mcp): jira endpoint is in partially working state. JQL queries are currently broken
  .config/mcphub/servers.json
  .config/nvim/lua/seth/mcp/curl_utils_test.lua
  .config/nvim/lua/seth/mcp/jira.lua
  .config/nvim/lua/seth/mcp/jira_mcp_test.lua
  .config/nvim/lua/seth/mcp/test_runner.lua
  .config/nvim/lua/seth/mcp/test_utils.lua
Due: check-startup-times, check-secrets

feat(jira): improve Jira MCP server reliability and test coverage
  .config/nvim/lua/seth/mcp/curl_utils.lua
  .config/nvim/lua/seth/mcp/curl_utils_test.lua
  .config/nvim/lua/seth/mcp/jira.lua
  .config/nvim/lua/seth/mcp/jira_mcp_test.lua
  .config/nvim/lua/seth/mcp/jira_mock_test.lua
  .config/nvim/lua/seth/mcp/jira_search_test.lua
  .config/nvim/lua/seth/mcp/test_utils.lua
Due: check-startup-times, check-secrets

feat(hooks): fix issue with global hooks conflicting with local hooks
  .config/git/hooks/pre-commit
Due: none

feat: improved quickref to optionally open in vim. added vim bindings to execute code from docs
  .config/nvim/lua/seth/remap.lua
  .config/zsh/.zshrc
Due: check-startup-times, check-secrets

feat: add zsh function for setting aws profile
  .config/zsh/.zshrc
  bootstrap.sh
Due: check-secrets

feat: added telescope binding for recent files, added fzf plugin for tmux
  .config/nvim/lua/seth/packages/telescope.lua
  .config/tmux/tmux.conf
Due: check-startup-times, check-secrets

feat: change LLM model to chatgpt 4.1
  .config/nvim/lua/seth/packages/avante.lua
Due: check-startup-times, check-secrets

fix: mitigate installing of hooks overwriting global pre-commit hook
  .config/git/hooks/pre-commit
  .config/zsh/.zshrc
  bin/lefthook
  bin/pre-commit
  bootstrap.sh
Due: check-secrets

feat: update mason confiuration to new schema. add clipboard integration between tmux, nvim, and system clipboard
  .config/nvim/lazy-lock.json
  .config/nvim/lua/seth/init.lua
  .config/nvim/lua/seth/packages/debugging.lua
  .config/nvim/lua/seth/packages/lsp.lua
  .config/nvim/lua/seth/packages/vim-oscyank.lua
  .config/tmux/tmux.conf
Due: check-startup-times, check-secrets

feat: adding ability to restore shell session even after codespace shutdown
  .config/nvim/lazy-lock.json
  .config/nvim/lua/seth/packages/auto-session.lua
  .config/tmux/tmux.conf
  .config/zsh/.zshrc
Due: check-startup-times, check-secrets

feat: improve python and tmux environment
  .config/nvim/lazy-lock.json
  .config/nvim/lua/seth/mcp/jira.backup
  .config/nvim/lua/seth/mcp/jira.lua
  .config/nvim/lua/seth/mcp/response.lua
  .config/nvim/lua/seth/packages/lsp.lua
  .config/nvim/lua/seth/packages/nvim-lint.lua
  .config/nvim/lua/seth/packages/venv-selector.lua
  .config/tmux/tmux.conf
  .config/zsh/.zshrc
Due: check-startup-times, check-secrets

feat: switch to code companion from avante
  .config/mcphub/servers.json
  .config/nvim/lazy-lock.json
  .config/nvim/lua/seth/packages/avante.lua
  .config/nvim/lua/seth/packages/codecompanion.lua
  .config/nvim/lua/seth/packages/mark-view.lua
  .config/nvim/lua/seth/packages/mcphub.lua
  .config/nvim/lua/seth/packages/minidiff.lua
  .config/nvim/lua/seth/packages/telescope.lua
  .config/nvim/lua/seth/packages/trouble.lua
Due: check-startup-times, check-secrets

feat: make notifications less intrusive
  .config/nvim/lazy-lock.json
  .config/nvim/lua/seth/packages/noice.lua
  .config/nvim/lua/seth/packages/nvim-notify.lua
  .config/nvim/lua/seth/packages/venv-selector.lua
Due: check-startup-times, check-secrets

feat: add notifications for codecompanion events
  .config/nvim/lua/seth/packages/codecompanion.lua
  .config/nvim/lua/seth/ui/companion-notification.lua
Due: check-startup-times, check-secrets

feat: add codecompanion settings at top of chat
  .config/nvim/lua/seth/packages/codecompanion.lua
Due: check-startup-times, check-secrets

feat: add wezterm config
  .config/wezterm/wezterm.lua
Due: check-startup-times, check-secrets

feat(mcp): add hook to automatically enable tools in comdecompanion.nvim. modify server.json to use our in dev mcp server
  .config/mcphub/servers.json
  .config/nvim/lua/seth/packages/codecompanion.lua
Due: check-startup-times, check-secrets

feat: change search mcp server to published version
  .config/mcphub/servers.json
Due: check-secrets

feat: add the ability to execute command and populate current buffer
  .config/nvim/lua/seth/remap.lua
Due: check-startup-times, check-secrets

feat: add vector code, pin code companion, add context7 sever, change zsh to start tmux immediately
  .config/mcphub/servers.json
  .config/nvim/lazy-lock.json
  .config/nvim/lua/seth/mcp/init.lua
  .config/nvim/lua/seth/packages/codecompanion.lua
  .config/nvim/lua/seth/packages/tokyonight.lua
  .config/nvim/lua/seth/packages/vectorcode.lua
  .config/zsh/.zshrc
  TODO.md
Due: check-startup-times, check-secrets

feat: first pass at having wezterm setup codespace and replace tmux
  .config/wezterm/wezterm.lua
Due: check-startup-times, check-secrets

feat: add lingering change
  .config/git/config
  .config/nvim/lua/seth/packages/codecompanion.lua
  .config/nvim/lua/seth/packages/lsp.lua
  .config/wezterm/wezterm.lua
  .profile
Due: check-startup-times, check-secrets

fix: first attempt at fixing nvim config after updating plugins
  .config/nvim/lazy-lock.json
  .config/nvim/lua/seth/packages/codecompanion.lua
  .config/nvim/lua/seth/packages/noice.lua
  .config/nvim/lua/seth/packages/nvim-notify.lua
  .config/nvim/lua/seth/packages/treesitter.lua
  .config/nvim/lua/seth/packages/venv-selector.lua
Due: check-startup-times, check-secrets

fix: return notification timeout and size to reasonable values
  .config/nvim/lua/seth/packages/nvim-notify.lua
Due: check-startup-times, check-secrets

fix: update codecompanion config to use newer config format
  .config/nvim/lazy-lock.json
  .config/nvim/lua/seth/packages/codecompanion.lua
Due: check-startup-times, check-secrets

fix: remove mcphub, update plugins, remove install of old copilot gh cli plugin
  .config/git/hooks/pre-commit
  .config/nvim/lazy-lock.json
  .config/nvim/lua/seth/mcp/code2prompt.lua
  .config/nvim/lua/seth/mcp/curl_utils.lua
  .config/nvim/lua/seth/mcp/curl_utils_test.lua
  .config/nvim/lua/seth/mcp/github_actions.lua
  .config/nvim/lua/seth/mcp/init.lua
  .config/nvim/lua/seth/mcp/jira.backup
  .config/nvim/lua/seth/mcp/jira.lua
  .config/nvim/lua/seth/mcp/jira_mcp_test.lua
  .config/nvim/lua/seth/mcp/jira_mock_test.lua
  .config/nvim/lua/seth/mcp/jira_search_test.lua
  .config/nvim/lua/seth/mcp/knowledge_base.lua
  .config/nvim/lua/seth/mcp/response.lua
  .config/nvim/lua/seth/mcp/run_tests.sh
  .config/nvim/lua/seth/mcp/terraform_cloud.lua
  .config/nvim/lua/seth/mcp/test_runner.lua
  .config/nvim/lua/seth/mcp/test_utils.lua
  .config/nvim/lua/seth/packages/mcphub.lua
  .config/nvim/lua/seth/packages/nvim-notify.lua
  .config/zsh/.zshrc
Due: shellcheck, check-startup-times, check-secrets

feat: remove copilot zsh plugin, add hook for direnv
  .config/zsh/.zshrc
Due: check-secrets

feat: add rules and configuration to use them in codecompanion
  .config/nvim/lazy-lock.json
  .config/nvim/lua/seth/packages/codecompanion.lua
  .llm-rules/1_planning.md
  .llm-rules/2_codecompanion-default.md
Due: check-startup-times, check-secrets

feat: first pass at adding opencode to environment
  .config/nvim/lua/seth/packages/codecompanion.lua
  .config/opencode/AGENTS.md
  .config/opencode/opencode.json
  .config/opencode/session-checkpoint.md
  .llm-rules/1_planning.md
  .llm-rules/2_codecompanion-default.md
  bin/agent-ci-status-head
  bin/agent-tools.yaml
Due: check-startup-times, check-secrets

feat: update opencode config
  .config/opencode/opencode.json
  .config/opencode/prompts/build.md
  .config/opencode/prompts/plan.md
  .config/opencode/prompts/review.md
  .config/opencode/session-checkpoint.md
Due: check-secrets

feat: various environment improvements
  .config/git/config
  .config/mcphub/servers.json
  .config/opencode/opencode.json
  .config/zsh/.zshrc
Due: check-secrets

feat: moved opencode config to jsonc
  .config/opencode/opencode.jsonc
Due: check-secrets

feat: added prompts, skils, and subagents to opencode. Remove codecompanion and related plugins from vim
  .config/nvim/lua/seth/packages/codecompanion.lua
  .config/nvim/lua/seth/packages/mark-view.lua
  .config/nvim/lua/seth/packages/vectorcode.lua
  .config/nvim/lua/seth/ui/companion-notification.lua
  .config/opencode/AGENTS.md
  .config/opencode/agents/orchestrator.md
  .config/opencode/extended-ops.md
  .config/opencode/opencode.jsonc
  .config/opencode/prompts/build.md
  .config/opencode/prompts/plan.md
  .config/opencode/prompts/review.md
  .config/opencode/skills/ci-triage/SKILL.md
  .config/opencode/skills/jira-context-resolver/SKILL.md
  .config/opencode/skills/local-agent-tools-usage/SKILL.md
  .config/opencode/skills/research-brief/SKILL.md
  .config/opencode/tui.jsonc
  bin/agent-tools.yaml
Due: check-startup-times, check-secrets

fix: git ignore reference should use home
  .config/git/config
Due: none

Path conditions:
  shellcheck: any of: **/*.{sh,bash}
  check-startup-times: any of: **/*.{zsh,lua,vim}
  check-secrets: any of: **/*, but not: (.git/|node_modules/)
